@model List<UserRoleViewModel>
@{
    ViewData["Title"] = "Edit Role";
}

<div class="edit_in_role_manage">
    <h1 class="edit_in_role_manage_h1">Role Management</h1>
    <div class="edit_in_role_manage_user">
        <form method="post">

            <div class="edit_in_role_manage_data">
                <p class="edit_in_role_manage_data_id">id: @ViewBag.RoleId</p>
                <p class="edit_in_role_manage_data_name">Role Name: @ViewBag.Name</p>
            </div>

            <div class="edit_in_role_manage_user_list">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="edit_in_role_manage_user_list_item">
                        <input class="edit_in_role_manage_user_list_item_select" type="checkbox" asp-for="@Model[i].IsSelected" />
                        <label class="edit_in_role_manage_user_list_item_name" asp-for="@Model[i].IsSelected">@Model[i].UserName</label>
                        <input asp-for="@Model[i].UserId" hidden />
                        <input asp-for="@Model[i].UserName" hidden />
                        <input type="text" name="roleid" value="@ViewBag.RoleId" hidden />
                    </div>

                }
            </div>

            <div class="edit_in_role_manage_user_nav">
                <input class="edit_in_role_manage_user_nav_update" type="submit" asp-controller="Administration" asp-action="Update" value="Update" />
                <a class="edit_in_role_manage_user_nav_cancel" asp-controller="Administration" asp-action="EditRole" asp-route-id="@ViewBag.RoleId">Back</a>
            </div>
        </form>
    </div>  
</div>

    