@model List<UserRolesViewModel>
@{
    ViewData["Title"] = "Edit User Roles";
}

<div class="role_user_manage">
    <h1 class="role_user_h1">Manage User Role</h1>

    <div class="role_user">
        <form method="post">
            <div class="role_user_data">
                <p class="role_user_data_id">id: @ViewBag.UserId</p>
                <p class="role_user_data_name">User Name: @ViewBag.UserName</p>
            </div>

            <div class="role_user_list">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="role_user_list_item">
                        <input class="role_user_list_item_select" type="checkbox" asp-for="@Model[i].IsSelected" />
                        <label class="role_user_list_item_name" asp-for="@Model[i].IsSelected">@Model[i].RoleName</label>
                        <input asp-for="@Model[i].RoleId" hidden />
                        <input asp-for="@Model[i].RoleName" hidden />
                        <input type="text" name="roleid" value="@ViewBag.UserId" hidden />
                    </div>

                }
            </div>

            <div class="role_user_nav">
                <input class="role_user_nav_update" type="submit" asp-controller="Administration" asp-action="UpdateUserRole" asp-route-userid="@ViewBag.UserId" value="Update" />
                <a class="role_user_nav_cancel" asp-controller="Administration" asp-action="EditUser" asp-route-userid="@ViewBag.UserId">Back</a>
            </div>
        </form>
    </div>
    

</div>

