@model CreateTopicViewModel;
@{
    ViewData["Title"] = "Edit Page";

    var fileName = ViewBag.ImageName != null ? "Change File" : "Upload File";
    var imagePath = "/img/UserFiles/" + ViewBag.ImageName;
    var topicId = ViewBag.TopicId;
    bool isSelected = false;
}


<div class="topic-title">
    <h1 class="create_topic-title">Edit Topic</h1>
</div>


<form asp-controller="Topic" asp-action="EditTopic" method="post" enctype="multipart/form-data">
    <div class="topic_edit">
        <div class="topic_edit_short">
            <label asp-for="TopicShort">Topic (short)</label> <span asp-validation-for="TopicShort" class="attribute_error"></span> <br>
            <input asp-for="TopicShort" type="text" maxlength="80" value="@Model.TopicShort" /> <br>

        </div>
        <div class="topic_edit_extension">
            <label asp-for="TopicExtension">Topic (extension)</label> <span asp-validation-for="TopicExtension" class="attribute_error"></span> <br>
            <textarea rows='1' asp-for="TopicExtension" value="@Model.TopicExtension"></textarea> <br>
        </div>

        @if (@ViewBag.ImageName != null)
        {
            <div class="edit_topic_file">
                <a href="@imagePath"> <img class="edit_topic_file_image" src="@imagePath" alt="Image" /></a>
            </div>
            <label class="edit_topic_file_delete">Delete File  <input type="checkbox" name="isSelected" asp-for="@isSelected" /></label>
        }

        <div>
            <label class="edit_topic_add_file">
                <span> @fileName </span>
                <input class="topic_add_file_upload" type="file" asp-for="UploadFile" accept=".jpg, .jpeg, .png" hidden onchange="uploadFile(this)" />
            </label>
        </div>
       

        <div class="topic_edit_nav">
            <input type="text" name="topicId" value="@topicId" hidden />
            <input class="topic_edit_nav_save" type="submit" value="Save Changes" />
            <a class="topic_edit_nav_back" asp-controller="Home" asp-action="Index">Back</a>
        </div>
    </div>
</form>
