@model TopicResponseModel
@{
    ViewData["Title"] = "Edit Response";
    int ID = default;
    int topicFieldID = default;
    string reply = default;
}

<div class="edit">
    <div class="edit_topic">
        <p class="edit_topic_short">@Model.TopicField.QuestionShort</p>
        <p class="edit_topic_extension">@Model.TopicField.QuestionExtension</p>
    </div>

    @foreach (var item in Model.Responces)
    {
        ID = item.Id;
        topicFieldID = item.TopicFieldID;
        reply = item.Reply;

    }
<form class="edit_form" asp-controller="Topic" asp-action="EditPost" method="post">
    <textarea class="edit_form_response" rows='1' asp-for="@reply" placeholder="reply" onkeyup="checkParams()" required></textarea> <br>
    <input asp-for="@ID" hidden />
    <input asp-for="@topicFieldID" hidden />
    <input class="edit_form_submit" type="submit" value="Save Changes" />
</form>

</div>