@model List<TopicField>
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="forum">
    <h1 class="forum-title">@Config.CompanyName</h1>
</div>

<div class="forum_add">
    <a class="forum_add_topic" asp-controller="Topic" asp-action="CreateTopic">Add new topic</a>
</div>

<div class="forum_topic">
    <p class="forum_topic_title">Topics list</p>

    @foreach (var topic in Model)
    {
        <div class="forum_topic_list">
            <div class="forum_topic_list_div">

                <p>@topic.UserId</p>
                @{
                    User user = await userManager.FindByIdAsync(topic.UserId);
                    <p>@user.UserName</p>
                }


                <a class="forum_topic_list_div_a" asp-controller="Topic" asp-action="CreateReply" asp-route-id="@topic.Id">@topic.QuestionShort</a>
            </div>
            <a class="forum_topic_list_edit" asp-controller="Topic" asp-action="EditTopic" asp-route-id="@topic.Id">Edit</a>

            <form class="forum_topic_list_form" asp-controller="Topic" asp-action="DeleteTopic" asp-route-id="@topic.Id" method="post">
                <button class="forum_topic_list_form_submit" type="submit">Delete</button>
            </form>
        </div>
    }

</div>

